.main-panel-container {
    height: 667px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: 0 0 15px gray;
}