.main-panel-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .user-info-container {
        flex: 0 0 auto;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid gray;
        padding: 10px;
        .user-name {
            margin: 0 10px;
        }
        img {
            height: 40px;
            border-radius: 20px;
        }
    }
    .main-view-container {
        display: flex;
        flex: 1 1 auto;
        .play-lists-container {
            width: 200px;
            flex: 0 0 auto;
            padding: 5px 10px;
            .play-list {
                padding: 5px 10px;
                cursor: pointer;
            }
            border-right: 1px solid gray;
            overflow-y: auto;
        }
        .songs-container {
            flex: 1 1 auto;
            overflow-y: auto;
            padding: 5px 10px;
        }
    }
    .player-container {
        height: 60px;
        flex: 0 0 auto;
        border-top: 1px solid gray;
    }
}