.user-info-container {
    flex: 0 0 auto;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
    .user-name {
        margin: 0 10px;
        cursor: pointer;
    }
    img {
        height: 40px;
        border-radius: 20px;
    }
    .dropdown-button {
        margin-left: 5px;
        cursor: pointer;
    }
}